/*===================================================================================
                        Universal Styling
===================================================================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: lightpink;
}

header {
    background: black;
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
}

main {
    margin-top: 150px;
}

h1 {
    color: #d24f63;
    font-family: cursive;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    max-width: 500px;
}

nav a {
    text-decoration: none;
    color: black;
    transition: .3s;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover {
    color: white;
    background: pink;
    transition: .3s;
}

nav ul li {
    display: inline-block;
    width: 15%;
    margin: 5px auto;
    padding: 10px 20px;
}

/*===================================================================================
                        Home Page Styling
===================================================================================*/

span {
    font-style: italic;
    text-decoration: underline;
}

.ballerina,
.number1 {
    width: 45px;
    display: inline-block;
    margin: 30px 0 0 30px;
}

.ballerina {
    animation: pirouette 1.5s linear infinite;
}

.intro {
    display: inline-block;
    width: 500px;
    margin-left: 100px;
}

.kids,
.studio {
    float: right;
    margin: 20px 20px 0 0;
}
/*===================================================================================
                        Keyframes
===================================================================================*/

@keyframes pirouette {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}